<% @post = Forum.find(params[:forum_id]) %>

<h1>Delete your post?</h1>

<% if current_user.id == @post.user_id %>

	<form method="post" action="/delete/<%= @post.id %>">
	<%= @post.post %>
		<input type="hidden" name="_method" value="destroy">
		<button type="submit">Delete</button>
	</form>

<% else %>
	<p>Sorry, you are not allowed to delete other people's posts. </p>
<% end %>

<a href='/forum'>Return to Forum</a>