<h1>Citizenprep Forum</h1>

<p>Welcome to the Citizenprep Forum.  Leave questions, answers, notes of encouragement and advice to others in the Citizenprep community.  More instructions on how to post.</p>

<label>Input box to post.</label>

<input type="text" name="post" value="Type your post here">

<p>Display all posts in descending order (newest on top)</p>