<h1>Citizenprep Forum</h1>

<p>Welcome to the Citizenprep Forum.  Leave questions, answers, notes of encouragement and advice to others in the Citizenprep community.  More instructions on how to post.</p>

<form action="" method="post">
	<label for="POST-name">Enter your post:</label>
	<input id="POST-name" type="text" name="forum">
	<input type="submit" value="Save">
</form>


<p>All posts (newest on top)</p>

<ul>
	<% @forums.each do |forum| %>
		<div class="forum">
			<li class="poster">
			<% poster = User.find(forum.user_id) %>
			<% user_poster = poster.email.split('@') %>
			<%= user_poster.first.capitalize %>
			</li>
			<li class="date">
			<%= Kronic.format(forum.created_at) %>
			</li>
			<li class="post">
			<%= forum.post %>
			</li>
		</div>
		<% end %>
</ul>