

<h1>Welcome to your profile page!</h1>

<p><span class="firstcharacter">O</span>n Citizenprep.com you can prepare for your Citizenship Test by taking our quiz.  You can also visit our forum to ask questions of the community, answer questions, and leave messages of advice and encouragement.</p>

<a class="cit_quiz" href='/quiz'>Citizen Quiz</a>

<a class="forum_button" href='/forum'>Forum</a>