

<h1>Welcome to your userpage on Citizenprep.com!</h1>

<p>On Citizenprep.com you can prepare for your Citizenship Test by taking our quiz.  You can also visit our forum to ask questions of the community, answer questions, and leave messages of advice and encouragement.</p>

<a href='/quiz'>Click here to take the Citizen Quiz</a>

<a href='/forum'>Click here to visit the forum</a>