<!DOCTYPE html>
<html>
	<head>
		<title>Citizenprep.com</title>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/css/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>	
		</head>
	<body>
		<header>
			<h1 class="title-text-shadow">Citizenprep.com</h1> 
			<p>Your one stop shop for Citizenship Test Preparation </p>
		</header>
		<section>
		<%= yield %>
		</section>
		<footer>
				<a class="button" href='/'>User Profile</a>
				<a class="button" href="/logout">Logout</a>
			<p class="copyright"> © 2014 Citizenprep.com </p>
		</footer>
	</body>
</html>