<p>Question </p>


<%= @current_question.first.question %>


<a href='/wrong_answer'> <%= @current_question.first.wrong_answer_one %> </a>
<a href='/right_answer'>right answer</a>
<a href='/wrong_answer'> <%= @current_question.first.wrong_answer_two %> </a>

<a href='/quiz'>Quit</a>