<p>Question </p>


<%= @current_question.question %>

<% Answer.where(question_id: @current_question.id).find_each do |answer| %>
<a href='/<%= answer.id %>'> <%= answer.answer %> </a>
<% end %>


<a href='/quiz'>Quit</a>
