<h1>Citizenprep Quiz</h1>

<p><span class="firstcharacter">W</span>elcome to the Citizenprep Quiz. Here are instructions on how to take the quiz.</p>


<a class="begin_button" href='/question'>Click here to begin the Citizenship Quiz!</a>

