html{
	background-color: #E9E9E9;
}

body{
	width: 700px;
	text-align: center;
	margin: 0px auto;
	color: black;
	border: 1px solid black;
	background-color: white;
	font-family: 'Oxygen', sans-serif;
}

header{
	background-image: url("/statue.png");
	background-size: 100%;
	background-position: 50% 8%;
	padding: 20px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	border-left: 3px solid white;
	color: white;
	text-shadow: black 0 -2px;
}

header h1{
	font-size: 500%;
	margin: 0px;
	
}

.answer{
	display: block;
}

.quit{
	padding-top: 40px;
}

.question{
	padding: 10px;
	padding-bottom: 20px;
}

.forum_instructions{
	font-size: small;
}

.next{
	padding-top: 20px;
}

.forum{
	border: 1px solid black;
	margin: 10px;
	height: 100px;
}

.poster{
	display: inline-block;
	float: left;
	padding: 5px;
	font-size: small;
}

.date{
	display: inline-block;
	float: right;
	padding: 5px;
	font-size: small;
}

.post{
	display: block;
	clear: both;
	border-top: 1px solid black;
	}

.cit_quiz{
	padding-right: 50px;
}

.forum_button{
	padding-left: 50px;
}

section{
	clear:both;
	width: 75%;
	display: inline-block;
}

a{
	text-decoration: none;
	color: black;

}


footer{
	font-size: x-small;
	clear: both;
	margin-top: 25px;
	background-image: url("/statue.png");
	background-size: 100%;
	background-position: 50% 90%%;
	color: white;
	border-top: 3px solid white;
	border-right: 3px solid white;
	border-left: 3px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: black 0 -1px;
}

footer a{
	font-size: small;
	padding: 20px;
	color: white;
}


