html{
	
	background-repeat: no-repeat;
	background-size: cover;
	height: 1250px;

}

body{
	width: 700px;
	text-align: center;
	margin: 0px auto;
	color: black;
	border: 1px solid black;
}

header{
	background-image: url("/statue.png");
	background-size: 100%;
	background-position: 50% 20%;
	padding: 20px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	border-left: 3px solid white;
	color: white;
}

header h1{
	font-size: 500%;
	margin: 0px;
}

header p{
	
}

.answer{
	display: block;
}

.quit{
	padding-top: 40px;
}

.question{
	padding: 10px;
	padding-bottom: 20px;
}

.next{
	padding-top: 20px;
}

.forum{
	border: 1px solid black;
	margin: 10px;
}

.poster{
	display: inline-block;
	float: left;
	padding: 5px;
	font-size: small;
}

.date{
	display: inline-block;
	float: right;
	padding: 5px;
	font-size: small;
}

.post{
	display: block;
	clear: both;
	}

section{
	clear:both;
	width: 75%;
	display: inline-block;
}

a{
	text-decoration: none;
	color: black;

}


footer{
	font-size: x-small;
	clear: both;
	margin: 25px;
}

footer a{
	font-size: small;
	padding: 20px;
}